---
title: Aaron G. Miller
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="/style.css" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<header>
			<div class="flex">
				<a href="/" id="aaronLogoLink"
					><h1>Aaron G. Miller <span>| Choreographer</span></h1></a
				>
				<nav id="mainnav">
					<button id="hamburger" class="closed">
						<span class="line-1"></span>
						<span class="line-3"></span>
					</button>
					<ul>
						<li><a href="#workshops">Workshops</a></li>
						<li><a href="#about">About Me</a></li>
						<li><a href="#news">News</a></li>
					</ul>
				</nav>
			</div>
			<div id="heroText">
				<h2>I believe <br />you can dance.</h2>
				<a href="#" class="button">Book Workshop</a>
			</div>
		</header>

        {{content}}

		<footer>
			<div>
				<h4>Thank you for your interest in Art!</h4>
				<p>© 2004 – {{year}} Aaron G. Miller</p>
			</div>
			<div>
				<a href="#">Imprint & Privacy</a>
				<p onclick="toggleSources()">Sources (click)</p>
				<div id="sources">
					<ul>
						<li>
							<a
								href="https://commons.wikimedia.org/wiki/File:DANCE_-Grupo_de_Rua,%22Inoah,%22_at_Brooklyn_Academy_of_Music_(49020288773).jpg"
								>header picture</a
							>
						</li>
						<li>
							<a
								href="https://commons.wikimedia.org/wiki/File:Cheng_Tsung_Lung.jpg"
								>about picture</a
							>
						</li>
						<li>
							<a
								href="https://commons.wikimedia.org/wiki/File:Meredith_Monk_-On_Behalf_of_Nature-Brooklyn_Academy_of_Music(15822608589).jpg"
								>news 1 picture</a
							>
						</li>
						<li>
							<a
								href="https://commons.wikimedia.org/wiki/File:DANCE_-Grupo_de_Rua,%22Inoah,%22_at_Brooklyn_Academy_of_Music_(49021032627).jpg"
								>news 2 picture</a
							>
						</li>
						<li>
							<a
								href="https://commons.wikimedia.org/wiki/File:Meredith_Monk_-On_Behalf_of_Nature-Brooklyn_Academy_of_Music(15822608589).jpg"
								>news 3 picture</a
							>
						</li>
					</ul>
					<p>Yoga Icons by Vitaly Gorbachev:</p>
					<ul>
						<li>
							<a href="https://www.flaticon.com/free-icon/yoga_2043795">up</a>
						</li>
						<li>
							<a href="https://www.flaticon.com/free-icon/yoga_2043787">rise</a>
						</li>
						<li>
							<a href="https://www.flaticon.com/free-icon/yoga_2043799"
								>stretch</a
							>
						</li>
					</ul>
				</div>
			</div>
		</footer>
		<script src="./main.js"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function (event) {
				MainNav.init();
			});
			function toggleSources() {
				let div = document.getElementById("sources");
				if (div.style.display === "none") {
					div.style.display = "block";
				} else {
					div.style.display = "none";
				}
			}
		</script>
	</body>
</html>
