@include breakpoint(0, $mobile) {
	#about {
		div {
			background: #fff7f2 0% 0% no-repeat padding-box;
			width: 100vw;
			padding-bottom: 3rem;
		}
		img {
			width: 100%;
			height: 458px;
			object-fit: cover;
			margin-bottom: 1rem;
		}
		.super-headline {
			font: normal normal 600 16px/20px Source Sans Pro;
			color: #363636;
			text-transform: uppercase;
			margin-left: 1rem;
		}
		h2 {
			font: normal normal 300 28px/36px Source Sans Pro;
			letter-spacing: 0px;
			color: #d5874c;
			margin-left: 1rem;
		}
		#text_about {
			font: normal normal 300 16px/29px Source Sans Pro;
			color: #363636;
			margin-left: 1rem;
			margin-bottom: 2rem;
		}
		a {
			margin: 1rem;
			width: 157px;
			height: 41px;
			border: 1px solid #f4a76c;
			text-transform: uppercase;
			font: normal normal 900 16px/29px Source Sans Pro;
			padding: 0.5rem 1rem;
		}
	}
}
