@include breakpoint(0, $mobile) {
	#about {
		background: #fff7f2 0% 0% no-repeat padding-box;
		padding: 3rem 0;
		img {
			width: 100%;
			object-fit: cover;
			margin-bottom: 1rem;
		}
		.super-headline {
			font: normal normal 600 16px/20px Source Sans Pro;
			color: #363636;
			text-transform: uppercase;
			margin-left: 1rem;
		}
		h2 {
			font: normal normal 300 28px/36px Source Sans Pro;
			letter-spacing: 0px;
			color: #d5874c;
			margin-left: 1rem;
		}
		.text_about {
			font: normal normal 300 16px/29px Source Sans Pro;
			color: #363636;
			margin-left: 1rem;
			margin-bottom: 2rem;
		}
		a {
			margin: 1rem;
			width: 157px;
			height: 41px;
			border: 1px solid #f4a76c;
			text-transform: uppercase;
			font: normal normal 900 16px/29px Source Sans Pro;
			padding: 0.5rem 1rem;
		}
	}
}

@include breakpoint($desktop) {
	#about {
		display: flex;
		flex-direction: row;
		background: #fff7f2 0% 0% no-repeat padding-box;
		padding: 7rem 2rem 10rem;
		margin-bottom: 10rem;

		img {
			height: auto;
			object-fit: cover;
		}
		div {
			padding: 0 10rem 0 2rem;
			height: fit-content;
			display: flex;
			flex-direction: column;
			.text_about {
				font-size: 22px;
				font-weight: 300;
				color: #363636;
				padding-bottom: 1rem;
				line-height: 1.5;
				max-width: 70ch;
			}
			a {
				margin-top: 1rem;
				padding: 0.8rem 1.5rem;
				border: 1px solid #f4a76c;
				text-decoration: none;
				font-size: 22px;
				font-weight: 600;
				text-transform: uppercase;
				width: fit-content;
			}
		}
	}
}
