*,
*:after,
*:before {
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
}

@include breakpoint(0, $mobile) {
	.super-headline {
		font-size: 16px;
		font-weight: 600;
		color: #363636;
		text-transform: uppercase;
	}
	.super-headline + h2 {
		font-size: 28px;
		font-weight: 300;
		color: #d5874c;
		margin-bottom: 3rem;
	}
	.super-headline,
	.super-headline + h2 {
		margin-left: 1rem;
	}

	section {
		margin-top: 3.8rem;
	}
}

@include breakpoint($desktop) {
	.super-headline {
		font-size: 22px;
		font-weight: 600;
		color: #363636;
		text-transform: uppercase;
	}
	.super-headline + h2 {
		font-size: 68px;
		font-weight: 200;
		color: #d5874c;
		margin-bottom: 3rem;
	}
	section {
		margin-top: 5rem;
	}
}
