@include breakpoint($desktop) {
	#news {
		padding: 0 2rem;
		margin-bottom: 10rem;
		.articles {
			display: flex;
			column-gap: 2rem;
		}
		a {
			text-transform: none;
			text-decoration: none;
			color: #000;
		}
		article {
			width: calc(100% / 3);
			background: #f7f7f7 0% 0% no-repeat padding-box;
			padding-bottom: 2.5rem;
			margin-bottom: 1rem;

			h3 {
				font: normal normal 300 38px/47px Source Sans Pro;
				color: #d5874c;
				padding: 1rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			img {
				width: 100%;
				height: 50%;
				object-fit: cover;
			}
			.text_news {
				text-align: left;
				font: normal normal 300 22px/37px Source Sans Pro;
				color: #363636;
				padding: 2rem;
			}
			.button {
				margin: 1rem 2rem;
				width: 157px;
				height: 41px;
				border: 1px solid #f4a76c;
				text-transform: uppercase;
				font: normal normal 600 22px/28px Source Sans Pro;
				padding: 0.5rem 1.5rem;
			}
		}
	}
}

@include breakpoint(0, $mobile) {
	#news {
		.articles {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		a {
			text-transform: none;
			text-decoration: none;
			color: #000;
		}
		article {
			width: 95%;
			background: #f7f7f7 0% 0% no-repeat padding-box;
			padding-bottom: 2rem;
			margin-bottom: 1rem;

			h3 {
				font: normal normal 300 22px/28px Source Sans Pro;
				color: #d5874c;
				padding: 1rem;
			}
			img {
				width: 100%;
			}
			.text_news {
				text-align: left;
				font: normal normal 300 16px/29px Source Sans Pro;
				letter-spacing: 0px;
				color: #363636;
				opacity: 1;
				padding: 1rem;
			}
			.button {
				margin: 1rem;
				width: 157px;
				height: 41px;
				border: 1px solid #f4a76c;
				text-transform: uppercase;
				font: normal normal 900 16px/29px Source Sans Pro;
				padding: 0.5rem 1.5rem;
			}
		}
	}
}
