@include breakpoint(0, $mobile) {
    $circleSize: 115px;

    #workshops {

        .level {
            background-color: #363636;
            margin-bottom: 1rem;
            position: relative;
            padding: 0 1rem 30px 1rem;
            height: auto;
            .icon-circle {
                margin-top: calc(#{$circleSize} * 0.8);
                display: flex;
                justify-content: center;
                position: relative;

                img {
                    width: $circleSize;
                    height: $circleSize;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background-color: #595959;
                    margin-top: calc(-#{$circleSize} / 2);
                    z-index: 1
                }

                p {
                    position: absolute;
                    top: 3px;
                    right: calc(100vw / 2 - #{$circleSize} + 18px);
                    background-color: #D5D5D5;
                    color: #D5874C;
                    border-radius: 50%;
                    width: 37px;
                    height: 37px;
                    margin-top: calc(-#{$circleSize} / 2 - 10px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                    font-weight: 600;
                }
            }

            .quote-icon {
                width: calc(#{$circleSize} - 3rem);
            }

            .apply {
                //bug: small black lines because of transform near dark element
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                white-space: nowrap;
                display: inline-block;
                overflow: visible;
                background-color: #F7F7F7;
                border: none;
                padding: .5rem .3rem 1rem .5rem;
                height: 100%;
                font-size: 18px;
                font-weight: 100;
            }

            .level-text{
                margin-top: .5rem;
                line-height: 1.5;

                h3{
                    color: #FFAD6E;
                    font-weight: 200;
                    font-size: 22px;
                    margin-top: 1rem;
                }
                p{
                    color: #FFFFFF;
                    font-size: 1rem;
                    font-weight: 300;
                    margin-bottom: 2rem;
                }
                .button{
                    padding: .5rem 1.5rem;
                    color: white;
                    border: 1px solid #F4A76C;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }

            

            .quote-container{
                margin-top: 1.5rem;
                display: flex;
                align-items: center;
                position: relative;
                flex-direction: column;
                blockquote{
                    margin-top: .5rem;
                    color: #FFFFFF;
                    font-weight: 200;
                    font-size: 22px;
                }
            }
        }
    }

}

@include breakpoint($desktop) {
    $circleSize: 200px;
    $levelHeight: 330px;
    $level-bg-color: #363636;
    $levelGap: 2rem;
    
    #workshops{
        padding-inline: 1rem;
        margin-top: 164px;
    
        #level-grid{
            display: grid;
            margin-top: 2rem;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            row-gap: $levelGap;
            padding-left: 9rem;
           
            .level{
                position: relative;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 1fr;
                height: $levelHeight;

                .level-text, .quote-container, .icon-circle{
                    background-color: $level-bg-color;
                }
                .level-text, .quote-container, .icon-circle, .apply{
                    height: 100%;
                    padding: 2rem;
                }

                .icon-circle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: $circleSize;
                        height: $circleSize;
                        padding: 2rem;
                        border-radius: 50%;
                        background-color: #595959;
                        z-index: 1
                    }
                    p{
                        position: absolute;
                        left: 0;
                        transform: translateX(-88%);
                        z-index: -1;
                        top: 0;
                        line-height: .55;
                        font-size: 250px;
                        font-weight: 600;
                        color: $level-bg-color;
                    }
                }
                
                .level-text{
                    color: #FFFFFF;
                    font-size: 1rem;
                    font-weight: 300;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h3{
                        color: #FFAD6E;
                        font-weight: 200;
                        font-size: 38px;
                        margin-bottom: 1rem;
                    }
                    p{
                        line-height: 1.5;
                        font-size: 20px;
                        font-weight: 200;
                    }
                    .button{
                        padding: .8rem 1.5rem;
                        color: white;
                        border: 1px solid #F4A76C;
                        text-decoration: none;
                        font-size: 22px;
                        font-weight: 600;
                        text-transform: uppercase;
                        width: fit-content;
                    }
                }

                .quote-container{
                    blockquote{
                        font-size: 38px;
                        color: white;
                        font-weight: 200;
                        line-height: 1.2;
                    }
                    img{
                        width: 130px;
                        height: auto;
                    }
                }

                .apply{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 38px;
                    font-weight: 200;
                    padding: 2rem;
                    margin-left: $levelGap;
                }
            }

            #level-1{
                .level-text{
                    grid-column: 1/3;
                    grid-row: 1;
                }
                .icon-circle{
                    grid-column: 3/4;
                    grid-row: 1;
                }
                .apply{
                    grid-column: 5/6;
                    grid-row: 1;
                    background-color: #F7F7F7;
                }
                .quote-container{
                    padding-right: 0;
                    padding-bottom: 0;
                    grid-column: 4/5;
                    grid-row: 1;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-between;
                    img{
                        margin-inline: auto 0;
                    }
                    blockquote{
                        padding-right: 1rem;
                    }
                }
            }
            #level-2{
                .level-text{
                    grid-column: 3/5;
                    grid-row: 1;
                }
                .icon-circle{
                    grid-column: 2/3;
                    grid-row: 1;
                    p{
                        top: 50%;
                        transform: translate(-80%, -55%);
                    }
                }
                .quote-container{
                    padding-top: 0;
                    grid-column: 1/2;
                    grid-row: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    img{
                        margin-inline: auto 0;
                    }
                }
                .apply{
                    background-color: #F7F7F7;
                    height: calc($levelHeight * 2 + $levelGap);
                    grid-column: 5/6;
                    position: absolute;
                }
            }
            #level-3{
                .level-text{
                    grid-column: 2/4;
                    grid-row: 1;
                }
                .icon-circle{
                    grid-column: 1/2;
                    grid-row: 1;
                    p{
                        bottom: 1.2rem;
                        top: auto;
                    }
                }
                .apply{
                    grid-column: 5/6;
                    grid-row: 1;
                }
                .quote-container{
                    padding-right: 0;
                    padding-top: 0;
                    grid-column: 4/5;
                    grid-row: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    img{
                        margin-inline: auto 0;
                    }
                    blockquote{
                        padding-right: 1rem;
                    }
                }
                .apply{
                    display: none;
                }
            }
        }
    }
}
