footer {
	height: min-content;
	box-sizing: border-box;
	padding: 1rem 1rem 2rem 2rem;
	background: #363636 0% 0% no-repeat padding-box;
	border: 1px solid #000000;
	opacity: 1;
	h4 {
		text-align: left;
		font: normal normal 300 22px/28px Source Sans Pro;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
	}
	p {
		text-align: left;
		font: normal normal 300 16px/20px Source Sans Pro;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
	}
	a {
		text-align: left;
		font: normal normal 300 16px/20px Source Sans Pro;
		letter-spacing: 0px;
		color: #ffad6e;
		opacity: 1;
		text-decoration: none;
	}
}
